<%
=begin%>
 html: {novalidate: true},
    data: {
            target: "sessions.form",
            action: "ajax:beforeSend->#{controller}#beforeSubmit"
        } 
<%
=end%>
<%= 
    form_with(
    model: @user, 
    local: true, 
    url: sessions_path, 
    ) do |f| 
%>

    <div class="field">
        <%= f.label(:email, "Username", class: "label") %>
        <%= f.email_field(:email, class: "input", required: true,) %>
    </div>
    
    <div class="field">
        <%= f.label(:password, "Password", class: "label") %>
        <%= f.password_field(:password_hash, class: "input",required: true) %>
    </div>
    <div class="field no-shadow text-center">
        <%= f.submit("Login", class: "btn", data: {target: "sessions.button"}) %>
    </div>

    <div class="field no-shadow text-center sm-font">
        <%= link_to "Sign up", new_user_path %> .
        <%= link_to "Forgot password?", password_forgot_new_path %>
    </div>
<%  end %>