<div class="auth-form">
    <%=  form_with(model: @user, local: true , url: user_path(username,)) do |f| %>

        <% if @user.avatar %>
            <div class="avatar">
                <div class="img">
                    <img src="<%= url_for(@user.avatar) %>">
                </div>
            </div>
        <% end %>
        <div class="field">
            <%= f.file_field(:avatar,) %>
        </div>
        <div class="field">
            <%= f.label(:fullname, "Full name", class: "label") %>
            <%= f.text_field(:fullname, class: "input") %>
        </div>
        <div class="field">
            <%= f.label(:location, "Location", class: "label") %>
            <%= f.text_field(:location_id, class: "input") %>
        </div>
        <div class="field">
            <%= f.label(:bio, "Bio", class: "label") %>
            <%= f.text_area(:bio, size: "28x8", class: "input") %>
        </div>
        <div class="field no-shadow text-center">
            <%= f.submit("Update", class: "btn btn-large full-width") %>
        </div>
    <%  end %>

</div>