
<div class="post">
    <div class="post-sidebar">
        <%= link_to  "#", class: "post_avatar-container" do %>
            <div class="post-avatar">
                <% if  post.reload_user.avatar.attached? %>
                    <img src="<%= url_for(post.reload_user.avatar) %>">
                <% else %>
                    <%= image_tag  "profile.png" %>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="post-main">
        <div class="post-header">
            <div class="info">
                <div class="details">
                    <%= link_to "#" do %>
                        <span class="author"> <%= post.reload_user.username  %> </span>
                    <% end %>
                    &nbsp;
                    <span class="dot"></span> &nbsp;
                    <span class="duration"> 
                        <%= time_ago_in_words(post.created_at) %> 
                    </span>
                </div>

                <% if current_user.id == post.user_id %>
                    <%= link_to post_path(username,post), class: "icon-link" do %>
                        <i class="fa fa-ellipsis-h"></i>
                    <% end %>
                <% end %> 

            </div>
            <div class="post-title">
                <h6><%= post.title  %></h6>
            </div>
        </div>
        <div class= "post-content">
            <%= post.content %>
        </div>
    </div>
</div>