<!DOCTYPE html>
<html>
  <head>
    <title>RubyPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= yield :post %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="application">
    <div class="container">
      <div class="main">
        <%= render "shared/sidenav" %>
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
